## Disable indexing and multiviews
Options -Indexes
Options -MultiViews 

## Allow rewriting
RewriteEngine on
RewriteBase /

## Set directory index
DirectoryIndex                      /dispatcher.php		

## Page rewrites
RewriteRule ^update					/dispatcher.php?controller=classroom&page=update		[NC,QSA,L]
RewriteRule ^index.php              /dispatcher.php?controller=classroom					[NC,QSA,L]
